{#-
	The homepage
-#}
{% extends "main.html" %}
{% block tabs %}
	{{ super() }}
	<style>
		/* code to disable markdown content */
		/* application header should be static for the landing page */
		/* remove spacing */
		.md-main__inner{margin:0}
		/* hide all markdown content */
		.md-content{display:none}
		/* hide nav and toc */
		@media screen and (min-width:60em){.md-sidebar--secondary{display:none}}
		@media screen and (min-width:76.25em){.md-sidebar--primary{display:none}}
	</style>

	<section class="md-grid md-typeset hero">
		<div class="hero-content hero-text">
			<div class="heading">
				<h1>Lightweight and Powerful Text Editor</h1>
				<p>Fast and extensible. No Electron required.</p>
			</div>
			<div class="download">
				<a
					id="download-button"
					data-latest-version="{{ config.extra.lite_xl_version }}"
					data-platform-detected="false"
					href="{{ page.next_page.url | url }}"
					title="{{ page.next_page.title | e }}"
					class="md-button md-button--primary"
				>
					<span
						class="twemoji"
						style="display: none;"
					>
						{% include ".icons/material/download.svg" %}
					</span>
					Get Started
				</a>
				<a
					id="alt-download-button"
					href="#"
					class="md-button"
					style="display: none;"
				>
					<span class="twemoji">
						{% include ".icons/material/download.svg" %}
					</span>
				</a>
			</div>
			<a
				href="https://github.com/lite-xl/lite-xl/releases"
			>
				<h6>Other platforms and formats</h6>
			</a>
		</div>
		<div class="hero-content hero-img">
			<img
				id="screenshot-main"
				src="assets/screenshots/theme-default.png"
				alt="Screenshot of Lite XL"
				draggable=false
			/>
		</div>
	</section>

	<section class="md-grid md-typeset features">
		<h1>Modern text-editing experience without the bloat.</h1>
		<div class="features-card">
			{% include ".icons/material/feather.svg" %}
			<div>
				<h5>Lightweight</h5>
				<p>
					30 MB of RAM, 5 MB of disk space.
					Lite XL runs on many devices without
					performance issues.
				</p>
			</div>
		</div>
		<div class="features-card">
			{% include ".icons/material/code-tags.svg" %}
			<div>
				<h5>Highly customizable</h5>
				<p>
					Lite XL is highly customizable.
				</p>
			</div>
		</div>
		<div class="features-card">
			{% include ".icons/material/power-plug.svg" %}
			<div>
				<h5>Extensible</h5>
				<p>
					Written in C and Lua, Lite XL is easily extensible.
					Lite XL has a diverse plugin ecosystem that supercharges
					it into an IDE-like editing experience.
				</p>
			</div>
		</div>
		<div class="features-card">
			{% include ".icons/material/monitor-shimmer.svg" %}
			<div>
				<h5>Cross-platform</h5>
				<p>
					Built on SDL, C and Lua, Lite XL runs on Windows, Linux and macOS.
					Porting to other systems is trivial.
				</p>
			</div>
		</div>
	</section>

	<section class="md-grid md-typeset previews">
		<h1>See Lite XL in action.</h1>
		<figure class="previews-card">
			<img src="assets/screenshots/theme-default.png" draggable=false />
			<figcaption class="previews-text">
				<h2>Familiar workflow</h2>
				<p>
					Lite XL does not strive to be special among the sea of text editors.
					We provide an experience similar to many other GUI-based text editors
					but with minimalism in mind.
				</p>
				<p>
					Command palette, multi-line editing and draggable UI elements - we
					provide a familiar transition from other text editors.
				</p>
			</figcaption>
		</figure>
		<figure class="previews-card">
			<img src="assets/screenshots/theme-default.png" draggable=false />
			<figcaption class="previews-text">
				<h2>Powerful syntax highlighting</h2>
				<p>
					Lite XL has a powerful syntax highlighting system that is entirely
					written in Lua patterns and regular expressions.
					While it is not as powerful as tree-sitter, it is fast and flexible
					compared to traditional Texmate grammars.
					By default, Lite XL provides syntax highlighting for a few languages,
					but we support over 70 languages as plugins that can be installed
					if needed.
				</p>
				<p>Did we mention we have plugin for tree-sitter support too?</p>
			</figcaption>
		</figure>
		<figure class="previews-card">
			<img src="assets/screenshots/theme-default.png" draggable=false />
			<figcaption class="previews-text">
				<h2>Highly customizable</h2>
				<p>
					Lite XL can be customized in Lua.
					No lengthly configuration sections,
					no custom templating syntax - you get the power of a programming
					language at hand.
				</p>
				<p>
					We also bundle a settings GUI for those who prefers clicking away
					mindlessly to change a few options.
				</p>
			</figcaption>
		</figure>
		<figure class="previews-card">
			<img src="assets/screenshots/theme-default.png" draggable=false />
			<figcaption class="previews-text">
				<h2>Hyperextensible</h2>
				<p>
					Lite XL is not only configurable in Lua; it is entirely written in Lua.
					We made Lite XL on top of custom Lua bindings and this meant almost
					everything can be overriden for custom functionality.
					If Lua is not powerful enough, you can use Lua bindings for
					C libraries directly in Lite XL.
				</p>
				<p>
					Lite XL uses immediate-mode rendering - simply draw rectangles
					and text anywhere you want. We provide base classes and utilities
					so you can extend and use them to create complex plugins without
					hassle.
				</p>
			</figcaption>
		</figure>
	</section>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}