site_name: Lite XL

site_url: !ENV [SITE_URL, "https://takase1121.github.io/lite-xl-docs/"]
repo_url: !ENV [REPO_URL, "https://github.com/takase1121/lite-xl-docs/"]

site_description: "Lightweight and powerful code editor, available for Windows, Linux and macOS."
site_author: "takase1121 <20792268+takase1121@users.noreply.github.com>"

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  # no custom fonts
  font: false
  logo: assets/icon.svg
  favicon: assets/favicon.png
  features:
    - navigation.footer
    - navigation.instant
    - navigation.tracking
    - navigation.top
    - navigation.tabs
    - content.code.copy
    - content.action.view
    - content.action.edit
    - header.autohide

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/wade.min.js
  - javascripts/search.js

extra:
  lite_xl_version: v2.1.1
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/lite-xl/lite-xl
    - icon: fontawesome/brands/discord
      link: https://discord.gg/RWzqC3nx7K
    - icon: simple/matrix
      link: https://matrix.to/#/#lite-xl:matrix.org

plugins:
  - search
  - glightbox
  - macros:
      include_dir: docs/.include
      include_yaml:
        # yes, this can safely load json
        - keymap: docs/assets/keymap.json
        - keymap_macos: docs/assets/keymap-macos.json
  - git-revision-date-localized
  - social:
      cards: !ENV [CARDS, false]
      cards_layout_options:
        font_family: Roboto
        background_color: "#252529"
        color: "#e1e1e6"
  - minify:
      minify_html: true
      minify_css: true
      minify_js: true
      cache_safe: true
      js_files:
        - javascripts/wade.min.js
        - javascripts/search.js
      css_files:
        - stylesheets/extra.css

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.keys:
      key_map: {
        "wheel": "Wheel",
        "hwheel": "Horizontal Wheel",
        "wheelup": "Wheel Up",
        "wheeldown": "Wheel Down",
        "2left-button": "Left Button",
        "3left-button": "Left Button",
        "2right-button": "Right Button",
        "3right-button": "Right Button",
        "2middle-button": "Middle Button",
        "3middle-button": "Middle Button",
        "2x-button1": "X Button 1",
        "3x-button1": "X Button 1",
        "2x-button2": "X Button 2",
        "3x-button2": "X Button 2",
      }

nav:
  - "Home": index.md
  - "Set Up":
      - "Getting Started": setup/getting-started.md
      - "Install from Releases": setup/install-from-releases.md
      - "Install from Package Managers": setup/install-from-package-managers.md
      - "Building": setup/building.md
      - "Platform-specific notes": setup/platform-notes.md
  - "User Guide":
      - "Introduction": user-guide/introduction.md
      - "Configuration": user-guide/configuration.md
      - "Plugins": user-guide/plugins.md
      - "IDE setup": "user-guide/ide-setup.md"
      - "Keymap": user-guide/keymap.md
      - "macOS Keymap": user-guide/macos-keymap.md
  - "Developer Guide":
      - "Introduction": developer-guide/introduction.md
      - "Syntaxes and Themes":
        - "Creating Syntaxes": developer-guide/creating-syntaxes.md
        - "Creating Themes": developer-guide/creating-themes.md
      - "Simple Plugin": developer-guide/simple-plugin.md
      - "Commands": developer-guide/commands.md
      - "Managing Keyboard Shortcuts": developer-guide/managing-keyboard-shortcuts.md
      - "Classes and Objects": developer-guide/classes-and-objects.md
      - "Documents": developer-guide/documents.md
      - "Views": developer-guide/views.md
      - "Using Regular Expressions": developer-guide/using-regular-expressions.md
      - "Interacting with the OS": developer-guide/interacting-with-the-os.md
      - "Child Processes": developer-guide/child-processes.md
  - "About":
      - "Contributors": about/contributors.md
      - "FAQ": about/faq.md
