site_name: Lite XL

site_url: !ENV [SITE_URL, "https://lite-xl.com/"]
repo_url: !ENV [REPO_URL, "https://github.com/lite-xl/lite-xl.github.io"]
source_repo_url: "https://github.com/lite-xl/lite-xl"

site_description: "Lightweight and powerful code editor, available for Windows, Linux and macOS."
site_author: "takase1121 <20792268+takase1121@users.noreply.github.com>"

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  # no custom fonts
  font:
    text: Inter
    code: JetBrains Mono

  logo: assets/icon.svg
  favicon: assets/favicon.png
  features:
    - navigation.footer
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.prune
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search.highlighting
    - search.share
    - content.code.copy
    - content.action.view
    - content.action.edit
    - header.autohide

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/wade.min.js
  - javascripts/search.js

extra:
  lite_xl_version: !ENV [LITE_XL_VERSION, "v2.1.7"]
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/lite-xl/lite-xl
    - icon: fontawesome/brands/discord
      link: https://discord.gg/RWzqC3nx7K
    - icon: simple/matrix
      link: https://matrix.to/#/#lite-xl:matrix.org

plugins:
  - privacy
  - search
  - glightbox
  - macros:
      include_dir: docs/.include
      include_yaml:
        # yes, this can safely load json
        - keymap: docs/assets/keymap.json
        - keymap_macos: docs/assets/keymap-macos.json
  - git-revision-date-localized
  - social:
      cards: !ENV [CARDS, false]
      cards_layout_options:
        font_family: Roboto
        background_color: "#252529"
        color: "#e1e1e6"
  - pub-minifier:
      cache_dir: .cache/plugin/pub-minifier

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.smartsymbols
  - pymdownx.saneheaders
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.keys:
      key_map: {
        "wheel": "Wheel",
        "hwheel": "Horizontal Wheel",
        "wheelup": "Wheel Up",
        "wheeldown": "Wheel Down",
        "2left-button": "Left Button",
        "3left-button": "Left Button",
        "2right-button": "Right Button",
        "3right-button": "Right Button",
        "2middle-button": "Middle Button",
        "3middle-button": "Middle Button",
        "2x-button1": "X Button 1",
        "3x-button1": "X Button 1",
        "2x-button2": "X Button 2",
        "3x-button2": "X Button 2",
      }

nav:
  - "Home": index.md
  - "Set Up":
      - "Getting Started": setup/getting-started.md
      - "Install from Package Managers": setup/install-from-package-managers.md
      - "Building from Source": setup/building-from-source.md
      - "Platform-Specific Notes": setup/platform-notes.md
  - "User Guide":
      - "Introduction": user-guide/introduction.md
      - "Configuration": user-guide/configuration.md
      - "Managing Plugins": user-guide/managing-plugins.md
      - "IDE Setup": "user-guide/ide-setup.md"
      - "Language Server support": user-guide/lsp.md
      - "Keymap": user-guide/keymap.md
      - "macOS Keymap": user-guide/macos-keymap.md
  - "Developer Guide":
      - developer-guide/index.md
      - "Syntaxes and Themes":
        - developer-guide/syntaxes-and-themes/index.md
        - "Creating Syntaxes": developer-guide/syntaxes-and-themes/creating-syntaxes.md
        - "Creating Themes": developer-guide/syntaxes-and-themes/creating-themes.md
      - "Commands and Shortcuts":
        - developer-guide/commands-and-shortcuts/index.md
        - "Commands": developer-guide/commands-and-shortcuts/commands.md
        - "Managing Keyboard Shortcuts": developer-guide/commands-and-shortcuts/managing-keyboard-shortcuts.md
      - "Writing Plugins":
        - developer-guide/writing-plugins/index.md
        - "Classes and Objects": developer-guide/writing-plugins/classes-and-objects.md
        - "Documents": developer-guide/writing-plugins/documents.md
        - "Views": developer-guide/writing-plugins/views.md
        - "Background Tasks": developer-guide/writing-plugins/background-tasks.md
        - "Debugging": developer-guide/writing-plugins/debugging.md
      - "Using Libraries":
        - developer-guide/using-libraries/index.md
        - "Using Regular Expressions": developer-guide/using-libraries/using-regular-expressions.md
        - "Interacting with the OS": developer-guide/using-libraries/interacting-with-the-os.md
        - "Child Processes": developer-guide/using-libraries/child-processes.md
      - "Samples":
        - developer-guide/samples/index.md
        - "Simple Plugin": developer-guide/samples/simple-plugin.md
        - "ToolbarView": developer-guide/samples/toolbarview.md
      - "Advanced Topics":
        - developer-guide/advanced-topics/index.md
        - "How Renderer Works": developer-guide/advanced-topics/how-renderer-works.md
  - "About":
      - "Contributors": about/contributors.md
      - "FAQ": about/faq.md
